{% extends "base.html" %}

{% block title %}Detalles de la Tarea{% endblock %}

{% block content %}
    <h1>{{ tarea.title }}</h1>
    <p>{{ tarea.description }}</p>
    <p>Creado el: {{ tarea.created_at }}</p>
    <p>Actualizado el: {{ tarea.updated_at }}</p>
    <p>Proyecto: {{ tarea.proyect.title }}</a></p>

    <a href="{% url 'task_edit' tarea.pk %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'task_delete' tarea.pk %}" class="btn btn-danger">Eliminar</a>
    <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}