{% extends "base.html" %}

{% block title %}Tareas{% endblock %}

{% block content %}
    <h1>Lista de Tareas</h1>
        <table class="table table-bordered">
        <thead>
            <tr style="text-aling:center">
                <th>Código</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th>Fecha de Actualización</th>
                imagen
                <th>Proyecto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td><a class="btn btn-light" href="{% url 'task_detail' tarea.pk %}">{{ tarea.codigo }}</a></td>
                    <td>{{ tarea.title }}</td>
                    <td>{{ tarea.description }}</td>
                    <td>{{ tarea.created_at|date:"d/m/Y H:i" }}</td>
                    <td>{{ tarea.updated_at|date:"d/m/Y H:i" }}</td>
                    <td>{{ tarea.proyect.title }}</td>
                    <td>
                        <a href="{% url 'task_edit' tarea.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'task_delete' tarea.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary mt-2" href="{% url 'task_create' %}">Crear nueva tarea</a>
{% endblock %}