{% extends "base.html" %}

{% block title %}Crear Tarea{% endblock %}

{% block content %}
    <h1>Crear Tarea</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="description">Descripción:</label>
        <textarea id ="description" name="description" required></textarea>
        <br>
        <label for="proyect">Proyecto:</label>
         <select name="proyect" id="proyect" required>
            <option value="">Selecciona un Proyecto</option>
            {% for project in projects %}
                <option value="{{ project.id }}">{{ project.title }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary mt-2" >Crear Tarea</button>
    </form>
    <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}