{% extends "base.html" %}

{% block content %}
  <h1>Editar Usuario</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type="text" name="first_name" class="form-control" id="first_name" value="{{ user.first_name }}" required>
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" name="last_name" class="form-control" id="last_name" value="{{ user.last_name }}" required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input type="text" name="username" class="form-control" id="username" value="{{ user.username }}" required>
    </div>
      <div class="mb-3">
            <label for="email" class="form-label">EMAIL</label>
            <input type="email" name="email" class="form-control" id="email" value="{{ user.email }}" >
        </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Contraseña</label>
        <input type="password" name="password1" class="form-control" id="password1">
        <small class="form-text text-muted">Dejar en blanco para no cambiarla</small>
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirmar Contraseña</label>
        <input type="password" name="password2" class="form-control" id="password2">
    </div>
    <div class="mb-3">
        <label for="sector" class="form-label">Sector</label>
        <input type="text" name="sector" class="form-control" id="sector" value="{{ user.sector }}">
    </div>
     <div class="mb-3">
        <label for="is_superuser" class="form-label">¿Es Admin?</label>
        <select name="is_superuser" class="form-control" id="is_superuser">
            <option value=""></option>
            <option value="True" {% if user.is_superuser %}selected{% endif %}>Sí</option>
            <option value="False" {% if not user.is_superuser %}selected{% endif %}>No</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
  </form>
{% endblock %}